<div class="home">
  <h1 class="home-header">
    <img src="/assets/chains/cherry_explorer.png" alt="cherry explorer" />
  </h1>

  <div class="width-container">
    <h2 class="home-buttons-heading">Choose Your Network</h2>

    <div class="home-buttons">
      <mat-card
        appearance="outlined"
        *ngFor="let network of networks"
        [routerLink]="'/' + network"
        tabindex="0"
        matRipple
        class="home-button home-button--{{ network }}"
      >
        <mat-card-content class="home-button-content">{{
          network
        }}</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
